h1, h2, h3 {
    border-bottom: 1px solid red;
}
figure {
    float: right;
    width: 40%;
}
figure img {
    max-width: 100%;
}
h2 {
    clear: right;
}
div {
    float: left;
    width: 40vw;
}
footer {
    clear: left;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: -1;
}